In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'0.24.2'

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [5]:
df.shape

(9704, 11)

In [6]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [10]:
# Count how many unique fuel types
print(df['fuel_type'].unique())

['Gasoline' 'Diesel']

In [12]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [13]:
# Filter rows where origin is Asia and get the maximum fuel efficiency
max_efficiency = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print(max_efficiency)

23.759122836520497

Q6. Median value of horsepower
Find the median value of horsepower column in the dataset.
Next, calculate the most frequent value of the same horsepower column.
Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
Now, calculate the median value of horsepower once again.
Has it changed?

Yes, it increased
Yes, it decreased
No

In [14]:
# 1️⃣ Median of horsepower before filling missing values
median_before = df['horsepower'].median()
print("Median before fill:", median_before)

Median before fill: 149.0

In [15]:
# 2️⃣ Most frequent (mode) horsepower value
most_freq = df['horsepower'].mode()[0]
print("Most frequent (mode):", most_freq)

Most frequent (mode): 152.0

In [16]:
# 3️⃣ Fill missing values in horsepower column with the most frequent value
df['horsepower'] = df['horsepower'].fillna(most_freq)

In [17]:
# 4️⃣ Median of horsepower after filling missing values
median_after = df['horsepower'].median()
print("Median after fill:", median_after)

Median after fill: 152.0

Q7. Sum of weights
Select all the cars from Asia
Select only columns vehicle_weight and model_year
Select the first 7 values
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?

In [18]:
# 1️⃣ Select Asian cars
asia_cars = df[df['origin'] == 'Asia']

In [19]:
# 2️⃣ Select columns vehicle_weight and model_year
cols = asia_cars[['vehicle_weight', 'model_year']]

In [20]:
# 3️⃣ Select first 7 rows
cols = cols.head(7)

In [21]:
# 4️⃣ Convert to NumPy array (X)
X = cols.values
print("X:\n", X)

X:
 [[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [22]:
# 5️⃣ Compute XTX = X.T @ X
XTX = X.T @ X
print("XTX:\n", XTX)

XTX:
 [[62248334.33150762 41431216.50732679]
 [41431216.50732679 28373339.        ]]

In [23]:
# 6️⃣ Invert XTX
XTX_inv = np.linalg.inv(XTX)

In [24]:
# 7️⃣ Create y array
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [25]:
# 8️⃣ Compute w = (XTX_inv @ X.T) @ y
w = XTX_inv @ X.T @ y
print("w:\n", w)

w:
 [0.01386421 0.5049067 ]

In [26]:
# 9️⃣ Sum of all elements in w
result = w.sum()
print("Sum of w:", result)

Sum of w: 0.5187709081074003